//-
 File Name: footer.pug
 Author's name:  Abhijeet Rana
 Website name: Personal Portfolio
 File description: In this file, the footer section is covered where all the extra details about the author and website are given.
//
footer(style="border-top: 3px solid #DC3545 ; background-color: #17202A ; color: white")
    <div class="container">
      <!-- Start Footer Container -->
      <div class="row py-3">
        <!-- Start Footer Row -->
        <div class="col-md-6">
          <!-- Start Footer 1st Column -->
          <span class="pr-2">Follow Me On: </span>
          <a href="https://www.facebook.com/public/Abhijeet-Rana" target="_blank"><i>Facebook,</i></a>
          <a href="#" target="_blank"><i> Instagram,</i></a>
          <a href="#" target="_blank" class="pr-2 fi-color"><i> Youtube</i></a>
          </div>
        <div class="col-md-6 text-right">
          <!-- Start Footer 2nd Column -->
          <small> Designed by Abhijeet Rana(200419192) &copy; 2020.
          </small>
        </div> <!-- End Footer 2nd Column -->
      </div> <!-- End Footer Row -->
    </div>
</footer> <!-- End Footer -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>